<?php isset($_CONFIG) or die('No direct access allowed.');

// ------------------------------------------------------------------------
// LOOKING GLASS CONFIGURATIONS
// ------------------------------------------------------------------------

/*
 * Your own AS number
 */
$_CONFIG['asn'] = '12345';

/*
 * Your own company name
 */
$_CONFIG['company'] = 'My Company Name';

/*
 * Your logo URL (or FALSE)
 */
$_CONFIG['logo'] = 'lg_logo.gif';

/*
 * Main style color
 */
$_CONFIG['color'] = '#E48559';

/*
 * Should the LG show BGP peer information?
 */
$_CONFIG['showpeerinfo'] = 'TRUE';

/*
 * If 'showpeerinfo' above is TRUE, and you would like to show BGP peer information to visitors from a specific IPv4 address or subnet, add the IPv4 address or subnet (in CIDR format) to the array below
 */
$_CONFIG['safesubnets'] = array(
	''
);

/*
 * SSH authentication type (`password` or `privatekey`)
 */
$_CONFIG['sshauthtype'] = 'password';

/*
 * Absolute path to SSH private key
 */
$_CONFIG['sshprivatekeypath'] = '/opt/lg/keys/id_rsa';

/*
 * Type of command for SSH connection with password authentication (`plink` or `sshpass`)
 */
$_CONFIG['sshpwdcommand'] = 'plink';

/*
 * Putty `plink' command path (for SSH connections)
 */
$_CONFIG['plink'] = '/usr/local/bin/plink';

/*
 * sshpass command path (for SSH connections)
 */
$_CONFIG['sshpass'] = '/usr/bin/sshpass';

/*
 * sshpass command path (for SSH connections)
 */
$_CONFIG['ssh'] = '/usr/bin/sshpass';

/*
 * URL address of the IP whois service
 */
$_CONFIG['ipwhois'] = 'https://www.radb.net/query?keywords=';

/*
 * URL address of the AS whois service
 */
$_CONFIG['aswhois'] = 'https://www.radb.net/query?keywords=';

/**
 * Router nodes
 *
 * Parameters:
 *      url               - URL address in format: [ssh|telnet]://[login]:[password]@[host]:[port]
 *      sshauthtype       - SSH authentication type in format: [password|privatekey]
 *      sshprivatekeypath - SSH private key path (only works if sshauthtype = privatekey) in example format: [/opt/lg/keys/id_rsa]. Optional. If excluded, value from $_CONFIG will be used.
 *      pingtraceurl      - URL address for ping and traceroute tools (or FALSE)
 *      description       - Node description
 *      group             - Node group name (of FALSE)
 *      showpeerinfo      - Should the LG show peer information? (TRUE / FALSE)
 *      ipv6              - Node supports IPv6 (TRUE/FALSE)
 *      os                - Node OS (ios, mikrotik, quagga, junos)
 */
$_CONFIG['routers'] = array
(
	'example1' => array
	(
		'url' => 'telnet://route-views.optus.net.au:23',
		'pingtraceurl' => FALSE,
		'description' => 'Example Router 1',
		'group' => 'AS12345',
		'showpeerinfo' => TRUE,
		'ipv6' => TRUE,
		'os' => 'ios',
	),

	'example2' => array
	(
		'url' => 'ssh://route-server.eastlink.ca:23',
		'pingtraceurl' => FALSE,
		'description' => 'Example Router 2',
		'group' => 'AS12345',
		'showpeerinfo' => FALSE,
		'ipv6' => TRUE,
		'os' => 'ios',
	),

    'example3' => array
	(
		'url' => 'ssh://user@device.local',
		'pingtraceurl' => FALSE,
		'description' => 'Example Router 3',
		'group' => 'AS12345',
		'showpeerinfo' => TRUE,
		'ipv6' => TRUE,
		'os' => 'mikrotik',
	),
    
    'example4' => array
	(
		'url' => 'ssh://user@device.local',
        'sshauthtype' => 'privatekey',
		'pingtraceurl' => FALSE,
		'description' => 'Example Router 4',
		'group' => 'AS12345',
		'showpeerinfo' => FALSE,
		'ipv6' => TRUE,
		'os' => 'mikrotik',
	),
);


/* End of file */