<?php isset($_CONFIG) or die('No direct access allowed.');

// ------------------------------------------------------------------------
// LOOKING GLASS CONFIGURATIONS
// ------------------------------------------------------------------------

/*
 * Your own AS number
 */
$_CONFIG['asn'] = '12345';

/*
 * Your own company name
 */
$_CONFIG['company'] = 'My Company Name';

/*
 * Your logo URL (or FALSE)
 */
$_CONFIG['logo'] = 'lg_logo.gif';

/*
 * Main style color
 */
$_CONFIG['color'] = '#E48559';

/*
 * Type of command to make a SSH connection (`plink' or `sshpass')
 */
$_CONFIG['sshcommand'] = 'plink';

/*
 * Putty `plink' command path (for SSH connections)
 */
$_CONFIG['plink'] = '/usr/local/bin/plink';

/*
 * sshpass command path (for SSH connections)
 */
$_CONFIG['sshpass'] = '/usr/bin/sshpass';

/*
 * URL address of the IP whois service
 */
$_CONFIG['ipwhois'] = 'http://noc.hsdn.org/whois/';

/*
 * URL address of the AS whois service
 */
$_CONFIG['aswhois'] = 'http://noc.hsdn.org/aswhois/';

/**
 * Router nodes
 *
 * Parameters:
 *	url          - URL address in format: [ssh|telnet]://[login]:[password]@[host]:[port]
 *	pingtraceurl - URL address for ping and traceroute tools (or FALSE)
 *	description  - Node description
 *	group        - Node group name (of FALSE)
 *	ipv6         - Node is supports IPv6 (TRUE/FALSE)
 *	os           - Node OS (ios, mikrotik, quagga, junos)
 */
$_CONFIG['routers'] = array
(
	'example1' => array
	(
		'url' => 'telnet://route-views.optus.net.au:23',
		'sshpublickeypath' => '',
		'pingtraceurl' => FALSE,
		'description' => 'Example Router 1',
		'group' => 'AS12345',
		'ipv6' => TRUE,
		'os' => 'ios',
	),

	'example2' => array
	(
		'url' => 'telnet://route-server.eastlink.ca:23',
		'pingtraceurl' => FALSE,
		'description' => 'Example Router 2',
		'group' => 'AS12345',
		'ipv6' => TRUE,
		'os' => 'ios',
	),
);


/* End of file */